node_modules/
dist/
*.zip

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/dummy.zip
terraform/.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.swp
