node_modules/
dist/
*.zip
.DS_Store

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/dummy.zip
terraform/.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.swp

# Secret, env
.env
.env.*
*.pem
*.key
secrets/

# Claude Code settings
.claude/settings.local.json

